<section class="py-24 bg-dark text-light relative">
  <img src="/assets/images/best-sellers/best-sellers-image.webp" width="310" height="216" alt="" role="presentation"
    class="-top-10 inset-s-0 rtl:scale-x-[-1] absolute z-20 hidden lg:block cursor-none" loading="lazy"
    decoding="async">
  <div class="container mx-auto px-4 section-content-visibility">
    <app-main-header [mainTitle]="'HOME.BEST_SELLERS.TITLE' | translate"
      [subTitle]="'HOME.BEST_SELLERS.SUB_TITLE' | translate" />

    <app-best-sellers-slider [bestSellers]="bestSellers()" />
  </div>
</section>