<section class="py-24 bg-light overflow-hidden relative content-visibility-section">
  <img src="/assets/images/testimonials/testimonial-bg.webp" alt="" role="presentation" width="63" height="55"
    loading="lazy" decoding="async" class="absolute inset-0 size-full cursor-none object-cover">
  <div class="container mx-auto px-4">
    <app-main-header [mainTitle]="'HOME.TESTIMONIALS.TITLE' | translate"
      [subTitle]="'HOME.TESTIMONIALS.SUB_TITLE' | translate" />
    <app-testimonials-slider [sliderData]="reviews()" />
  </div>
</section>