<section class="py-24 bg-light relative z-10">
  <img src="/assets/images/shared/main-white-bg.svg" alt="" role="presentation"
    class="absolute inset-0 w-full h-full object-cover -z-10 opacity-10 pointer-events-none" loading="lazy"
    decoding="async">
  <div class="container mx-auto px-4">
    <div class="grid lg:grid-cols-2 gap-16 items-center">
      <div class="order-2 lg:order-1 space-y-8">
        <h2 class="text-primary text-brand-voice text-4xl">{{ 'HOME.ABOUT_US' | translate }}</h2>
        <h3 class="text-4xl lg:text-5xl font-bold text-dark line-clamp-2" [title]="about()?.title">
          {{ about()?.title }}
        </h3>
        <div class="text-dark/60 text-lg leading-relaxed lg:max-h-25 lg:overflow-y-auto"
          [innerHTML]="about()?.description | safeHtml">
        </div>
        <div class="grid grid-cols-2 gap-8 pt-8 border-t border-dark/5">
          @for (item of about()?.numbers; track $index) {
          <div>
            <span aria-labelledby="state-1" class="text-3xl font-bold text-primary mb-2">{{item.number}}+</span>
            <h4 id="state-1" class="text-sm text-dark/40 uppercase tracking-widest font-bold line-clamp-1"
              [title]="item.text">{{item.text}}</h4>
          </div>
          }
        </div>
      </div>
      <div class="order-1 lg:order-2">
        <div class="relative">
          @if (about()?.main_image) {
          <img [appMediaUrl]="about()!.main_image" alt="KOI Kitchen"
            class="relative z-10 rounded-[3rem] shadow-2xl object-cover w-full lg:w-148 lg:h-118.25" />
          }
        </div>
      </div>
    </div>
  </div>
</section>