<section class="py-24 bg-dark content-visibility-section relative">
  <img src="/assets/images/gallery/gallery-stick.webp" class="absolute top-0 inset-e-0 rtl:scale-x-[-1] hidden lg:block"
    width="365" height="249" loading="lazy" decoding="async" alt="" role="presentation">
  <div class="container mx-auto px-4">
    <div class="text-white mb-16">
      <app-main-header [mainTitle]="'HOME.GALLERY.TITLE' | translate"
        [subTitle]="'HOME.GALLERY.SUB_TITLE' | translate" />
    </div>
    <app-gallery-slider [Images]="galleryImages()" />
  </div>
</section>